<?xml version="1.0" ?>
<settings version="1">
    <section id="plugin.video.blckbx-tv">
        <category id="video" label="30000">
            <group id="view" label="30001">
                <setting id="video_view_max" type="integer" label="30002" help="30003">
                    <level>1</level>
                    <default>100</default>
                    <constraints>
                        <minimum>25</minimum>
                        <step>25</step>
                        <maximum>10000</maximum>
                    </constraints>
                    <control type="spinner" format="integer"/>
                </setting>
            </group>
        </category>
    </section>
</settings>
